.RealNumber {

  p {
    margin-top: 0;
  }

  .text-box {
    margin-top: 15px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #333333;
    outline: none;
  }

  .value--valid {
    color: green;
  }

  .value--invalid {
    color: #c90d0d;
  }

  button {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #333333;
    margin-left: 2px;
    outline: none;
  }
}
