.Todo {
  h3 {
    margin-top: 0;
  }

  ul, ol {
    list-style: none;
    padding: 0;

    li {
      color: #444444;
      padding: 3px 7px;
      margin: 3px 0;
    }
  }

  input, button {
    font-size: 16px;
  }
}
