.App {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  margin: 0 auto;
  padding: 30px 0;

  .exercise {
    position: relative;
    width: 350px;
    height: 358px;
    border: 2px solid #eeeeee;
    margin: 15px;
    padding: 35px;
    border-radius: 5px;
    overflow-y: auto;

    p {
      line-height: 1.4em;
    }

    &:before {
      content: attr(data-number);
      background: #eeeeee;
      position: absolute;
      top: 0;
      left: 0;
      color: #444444;
      font-size: 14px;
      font-weight: 500;
      padding: 5px 7px;
      border-radius: 0 0 5px 0;
    }

    &:after {
      content: attr(data-title);
      background: #eeeeee;
      position: absolute;
      top: 0;
      right: 0;
      color: #999999;
      font-size: 14px;
      padding: 5px 7px;
      line-height: 1em;
      border-radius: 0 0 0 5px;
    }
  }

}
